{% extends  "base.html" %}

 {% block jumbotron %}
 {% endblock %}

 {% block content %}
<div class='row'>

    <div class='col-sm-6 col-sm-offset-3'>
    <h1> About Us.</h1>
        <p>
      my name is saza !!my name is saza !!my name is saza !!my name is saza !!my name is saza !!
      my name is saza !!my name is saza !!my name is saza !!my name is saza !!my name is saza !!
      my name is saza !!my name is saza !!my name is saza !!my name is saza !!my name is saza !!
      my name is saza !!my name is saza !!my name is saza !!my name is saza !!my name is saza !!
    </p>
    </div>

</div>

 {% endblock %}
