{% extends  "base.html" %}
{% load crispy_forms_tags %}

<!--
{% block head_title %}
{{ block.super }}
{% endblock %}
-->
{% block jumbotron %}
{{ block.super }}
    <!-- {{ title }} -->
{% endblock %}

{% block content %}

 <div class="row">
     <div class="col-sm-6">
         <p> <h1> บริการให้คำปรึกษา </h1></p>
     </div>
     <div class="col-sm-6 pull-right">
        <form method="POST" action = "/contact/">{%  csrf_token %}

            {{ form|crispy }}
            {{ form.email }}

             <input class="btn btn-primary btn-sm" type="submit" value="Send Message">

        </form>
     </div>
</div>

{% endblock %}