{% extends  "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}  {{ block.super }}  {% endblock %}

    {% block jumbotron %}
    {{ block.super }}
    <!-- {{ title }} -->
    {% endblock %}

<style>
    {% block style %}

    .text-align-center {
        text-align: center;
        color: red;
    }

    {% endblock %}

</style>

<!--
# -- -- --
#
    title is {{ template_title }}
<form method="" action="/">
    <input type="text" name="username" value="{{ template_user }}">
    <input type="text" name="surname"  value="{{ template_sur }}">


  <div align="right"></div>
  username  ::  {{ form.your_name }} </br>
  surname  ::    {{ form.your_surname }} </br>
    email :: {{ form.your_email }} </br>
-->

{% block content %}

<div class="row">

   <div class='col-sm-3 pull-right'>

        <form method='POST' action="/">
        {% csrf_token %}
        <p class="lead" > {{ title }} </p>
         <!-- {{ request.user }} -->
              {{ form|crispy }}
        <!--

        Username is: {{ request.user }}
        {{ form.as_ul }}

        fullname  :: {{ name  }}  <BR>
        email :: {{ email }} <BR>
        <div></div>
        -->
        <input class="btn btn-primary btn-sm" type="submit" value="Sign Up">
       <!--
     <div></div>
        {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>
        {% endfor %}
    -->
        </form>

   </div>


    <div class='col-sm-3'>
        <p class="lead text-align-center"> Build with django &amp; Bootstrap</p>
    </div>
    <div class='col-sm-3'>
        <p class="lead text-align-center"> Created for Starters of all kinds.</p>
    </div>
    <div class='col-sm-3'>
        <p class="lead text-align-center"> Aways Open Source</p>
    </div>


</div>

{% endblock %}
