<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ template_title }} </title>
</head>
<body>

<!--
    title is {{ template_title }}
<form method="" action="/">
    <input type="text" name="username" value="{{ template_user }}">
    <input type="text" name="surname"  value="{{ template_sur }}">


  <div align="right"></div>
  username  ::  {{ form.your_name }} </br>
  surname  ::    {{ form.your_surname }} </br>
    email :: {{ form.your_email }} </br>
-->
<form method='POST' action="/">
   {% csrf_token %}

    <div></div>
      {{ form.as_p }}
     <!-- {{ form.as_ul }} -->

    name  :: {{ name  }}  <BR>
    email is :: {{ email }} <BR>

    <div></div>
    <input type="submit" value="Login">
   <!--
 <div></div>
    {% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
    {% endfor %}
-->
</form>
</body>
</html>