{% extends  "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head_title %}  {{ block.super }}  {% endblock %}

    {% block jumbotron %}
     {{ block.super }}
    <!-- {{ title }} -->


    {% endblock %}

<style>
    {% block style %}

    .jumbotron {
        background-color:#155A1E;
        color:#FFFFFF;

    }

    .navbar-static-top {
        marin-bottom: 0px !important;
    }

    {% endblock %}

</style>

<!--
# -- -- --
#
    title is {{ template_title }}
<form method="" action="/">
    <input type="text" name="username" value="{{ template_user }}">
    <input type="text" name="surname"  value="{{ template_sur }}">


  <div align="right"></div>
  username  ::  {{ form.your_name }} </br>
  surname  ::    {{ form.your_surname }} </br>
    email :: {{ form.your_email }} </br>
-->

{% block content %}

{% if request.user.is_authenticated %}
<div class="row">

   <div class='col-sm-3 pull-right'>

        <form method='POST' action="/">
        {% csrf_token %}
        <p class="lead" > {{ title }} </p>
         <!-- {{ request.user }} -->
              {{ form|crispy }}
        <!--

        Username is: {{ request.user }}
        {{ form.as_ul }}

        fullname  :: {{ name  }}  <BR>
        email :: {{ email }} <BR>
        <div></div>
        -->
        <input class="btn btn-primary btn-sm" type="submit" value="Sign Up">
       <!--
     <div></div>
        {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>
        {% endfor %}
    -->
        </form>

   </div>


    <div class='col-sm-3'>
        <p class="lead text-align-center"> Build with django &amp; Bootstrap</p>
        <img src='{% static "img/beach.jpg" %}' class='img-responsive' />
    </div>
    <div class='col-sm-3'>
        <p class="lead text-align-center"> Created for Starters of all kinds. <br><br>
         <i class="fa fa-camera-retro fa-spin fa-5x"></i>
        </p>
    </div>
    <div class='col-sm-3'>
        <p class="lead text-align-center"> Aways Open Source
            <br>
            <br>
            <span class='fa-stack fa-lg fa-4x'>
            <i style="color:blue;" class='fa fa-circle-o-notch fa-stack-2x fa-spin'></i>
            <i style="color:yellow;" class="fa fa-cog fa-stack-1x"></i>
            </span>
        </p>
    </div>


</div>

{% endblock %}
